# -- Ignore version control files ----------------------------------------------------------------------------------------------
.git
.github
.gitignore
.keep

# -- Ignore editors ------------------------------------------------------------------------------------------------------------
.idea/

# -- Ignore secrets ------------------------------------------------------------------------------------------------------------
config/secrets/

# -- Ignore scripts / dockerfiles ----------------------------------------------------------------------------------------------
dockerfiles/
scripts/
